/click/click
/cookie/cookie
/emulate/emulate
/eval/eval
/headers/headers
/keys/keys
/latlon/latlon
/logic/logic
/pool/pool
/remote/remote
/screenshot/screenshot
/simple/simple
/standalone/standalone
/submit/submit
/text/text
/upload/upload
/visible/visible

*.zip
*.pdf
*.png
*.exe
