/click/click
/cookie/cookie
/emulate/emulate
/eval/eval
/fast/fast
/forecast/forecast
/geoip/geoip
/headers/headers
/keys/keys
/latlon/latlon
/logic/logic
/multi/multi
/pool/pool
/remote/remote
/screenshot/screenshot
/simple/simple
/standalone/standalone
/submit/submit
/text/text
/upload/upload
/visible/visible

/out

*.zip
*.pdf
*.png
*.exe
